@model Webapp.Models.Employee
@{
    ViewData["Title"] = "Ajouter Employé";
}
<h2>Ajouter un Employer</h2>
<div class="container mt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post" asp-action="CreateE">

        <div class="mb-3">
            <label asp-for="Nom" class="form-label">Nom </label>
            <input asp-for="Nom" class="form-control" />
            <span asp-validation-for="Nom" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Prenom" class="form-label">Prenom</label>
            <input asp-for="Prenom" class="form-control" />
            <span asp-validation-for="Prenom" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Telephone" class="form-label">Telephone</label>
            <input asp-for="Telephone" class="form-control" type="tel" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Poste" class="form-label">poste</label>
            <input asp-for="Poste" class="form-control" />
            <span asp-validation-for="Poste" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Departement" class="form-label">Departement</label>
            <input asp-for="Departement" type="text" class="form-control" />
            <span asp-validation-for="Departement" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DateEmbauche" class="form-label">Date Embauche</label>
            <input asp-for="DateEmbauche" type="date" class="form-control" />
            <span asp-validation-for="DateEmbauche" class="text-danger"></span>
        </div>

        
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a asp-action="Employer" class="btn btn-secondary ms-2">Annuler</a>
    </form>
</div>