@model Webapp.Models.Equipment
    @{
    ViewData["Title"] = "Ajouter un équipement";
    }

    <h2>Ajouter un équipement</h2>
    <div class="container mt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post" asp-action="Create">

           <div class="mb-3">
                <label asp-for="NumeroSerie" class="form-label">Numéro de série (unique)</label>
                <input asp-for="NumeroSerie" class="form-control" />
                <span asp-validation-for="NumeroSerie" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Type" class="form-label">Type</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Marque" class="form-label">Marque</label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Modele" class="form-label">Modèle</label>
                <input asp-for="Modele" class="form-control" />
                <span asp-validation-for="Modele" class="text-danger"></span>
            </div>

          
            <div class="mb-3">
                <label asp-for="DateAchat" class="form-label">Date d'achat</label>
                <input asp-for="DateAchat" type="date" class="form-control" />
                <span asp-validation-for="DateAchat" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DateFinGarantie" class="form-label">Fin de garantie</label>
                <input asp-for="DateFinGarantie" type="date" class="form-control" />
                <span asp-validation-for="DateFinGarantie" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description / Commentaires</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>  
            <div class="mb-3">
              <select class="form-select" >
                                <option value="">-- Sélectionner un statut --</option>
                                <option value="En service">En service</option>
                                <option value="En Panne">En panne</option>
                                <option value="Hors service">Hors service</option> 
               </select> 
            </div> 



            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a asp-action="Equipement" class="btn btn-secondary ms-2">Annuler</a>
    </form>
    </div>


