@{ 
    ViewData["Title"] = "Historique des Employés"; 
}
@model IEnumerable<Webapp.Models.Affectation>  
 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<h4>Historique des Affectations</h4> 
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        @if (Model != null && Model.Any())
        {
            <table class="table table-striped table-hover" id="HistoriqueTable">
                <thead>
                    <tr>
                        <th>Équipement</th>
                        <th>Date d'Affectation</th> 
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Equipment?.Type - @item.Equipment?.NumeroSerie</td>
                            <td>@item.DateAffectation.ToString("dd/MM/yyyy")</td> 
                            <td><a asp-action="DetailsEquip" asp-controller="Home" asp-route-id="@item.Equipment?.Id" class="btn btn-info btn-sm">Détails</a></td>
                        </tr> 
                    }
                </tbody>
            </table>
        }
else
{
    <div class="alert alert-info text-center">
        <i class="fas fa-info-circle"></i> Aucun historique d'affectation.
    </div>
}  
 @section Scripts { 
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#HistoriqueTable').DataTable({
                "language": {
                    "lengthMenu": "Afficher _MENU_ entrées",
                    "zeroRecords": "Aucun résultat trouvé",
                    "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                    "infoEmpty": "Affichage de 0 à 0 sur 0 entrées",
                    "infoFiltered": "(filtré de _MAX_ entrées au total)",
                    "search": "Rechercher:",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                }
            });
        });
    </script> 
} 